/*@import url(http://fonts.googleapis.com/css?family=Sigmar+One);*/
@import url(http://fonts.googleapis.com/css?family=Sigmar+One|Francois+One|Advent+Pro:600);
#donutimage {
  width: 37%;
  text-align:center;
  z-index: 0;
  position: absolute;
  margin-top: 10%;
  margin-left: 33%;
}

#frostingimage {
  width: 40.5%;
  text-align:center;
  z-index: 50;
  position: absolute;
  margin-top: 7.75%;
  margin-left: 31.25%;
}
#toppingimage {
  width: 39%;
  text-align:center;
  z-index: 100;
  position: absolute;
  margin-top: 8%;
  margin-left: 32%;
}

#happy_image {
  z-index: 100;
  position: absolute;
  height: 9%;
  width: 4%;
  padding-left: 23%;
  padding-top: 1%;
}

body{
  background-color: #BAE4FF;
}

h1{
  font-family: 'Sigmar One';
  font-size: 3.5em;
  text-align: center;
}

div.movingforms{
  float: left;
  padding: 0 1.5%;
  font-family: "Francois One";
  color:black;
}

div#submitbutton{
  margin-left: -80%;
  margin-top: 15%;
  width: auto;
  font-size: 1.5em;
}

#gohome{
  position: absolute;
  text-align: center;
  top: 700px;
  right: 643px;
}

#cakediv{
  margin-left: 28%;
}


#links{
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
#linkformaker{
  float: left;
  width: 29%;
  padding-left: 18%;
  padding-right: 10%;
  padding-top: 2%;
}
#linkforfinder{
  float:left;
  width: 30%;
}
#makerlink{
  width: 100%;
  padding-bottom: 1%;
  border-radius: 100%;
}

#finderlink{
  width: 100%;

}

.caption{
  display: block;
}

a {
    text-decoration: none;
    font-family: "Francois One";
    color:black;
}

#map-canvas {
  height: 450px;
  width: 700px;
}

#submitbutton{
  float: left;
  padding-left: 50%;

}
