<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="scripts/script.js"></script>
    <link type= "text/css" rel= "stylesheet" href="stylesheets/style.css"/>
  </head>
  <body>
    <h1>Donut Worry, Be Happy!</h1>
    <h2>About the Creators</h2>
      <div class="about" ><h3>Molly</h3></div>
      <div class="about" ><h3>Hung</h3></div>
      <div class="about" ><h3>Caroline</h3></div>
        <div class="aboutp"id="molly"><p>info about molly</p></div>
        <div class="aboutp"id="hung"><p>info about hung</p></div>
        <div class="aboutp"id="caroline"><p>info about caroline</p></div>






      <div id="gohome"><a href="/">Go Back Home</a> </div>
  </body>
</html>
