<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="scripts/script.js"></script>
    <link type= "text/css" rel= "stylesheet" href="stylesheets/style.css"/>
  </head>
  <body>
    <h1>Donut Worry, Be Happy!</h1>
    <h2>About the Creators</h2>
      <div class="about" ><h3>Molly</h3></div>
      <div class="about" ><h3>Hung</h3></div>
      <div class="about" ><h3>Caroline</h3></div>
        <div class="aboutp"id="molly"><p>Molly Brennan is from the Chicago suburbs. She went Tinley Park High School, and will be attending Elmhurst College in the fall to study computer science and play volleyball. </p></div>
        <div class="aboutp"id="hung"><p>Hung Pham was born in Saigon, Vietnam and moved to the US at the age of two. He eats, he sleeps, and he codes. On weekends, to let off steam, he participates in full-contact ice fishing. He makes prizewinning donuts in his free time. Years ago, he discovered the meaning of life but forgot to write it down. I'm batman.</p></div>
        <div class="aboutp"id="caroline"><p>Caroline was born in Chicago, Illinois. She attended Northside College Prep high school, where she was captain of the cross-country and track teams. Next year, she will be attending University of Michigan as an undeclared engineer. She plans to graduate with a major in either computer science or industrial engineering. </p></div>






        <div id="navi">
          <a href="/">Go Back Home | </a>
          <a href="/finder">Find My Donut | </a>
          <a href="/maker">Make A Donut</a>
        </div>
  </body>
</html>
