<!DOCTYPE html>
<html>
  <head>
    <title>Find Donut Shops Near Me</title>
    <link type= "text/css" rel= "stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXN-scV1v3O6noej4I0-X0Dy9Ob72yZbc&libraries=places"></script>
    <script src="scripts/script.js"></script>
  </head>

  <body>
    <!--Testing if finder return user input-->
    <!-- <form method="post" action ="">
      <p>Where are you? <input type="text" name="location"/></p>
      <p><input type="submit" value="Find me donuts!"/></p>
    </form> -->

    <h3>Enter Coordinates:</h3>
    <div>
      <form method="post" id="coord-form" class="user-form">
        <label>Latitude: <input type="text" name="lat" id="lat"/></label><br />
        <label>Longitude: <input type="text" name="lon" id="lon"/></label><br />
        <input type="submit" name="submit-button" value="Find me donuts!" id="coord-submit" class="submit-btn"/>
      </form>
    </div>

    <h3>Or would you prefer to use an address?</h3>
    <div>
      <form method="post" id="address-form" class="user-form">
        <input type="text" name="address" id="address"/><br />
        <input type="submit" name="submit-button" value="Find me donuts!" id="address-submit" class="submit-btn"/>
      </form>
    </div><br />

    <div id="map-canvas">
      <h1>Header</h1>
    </div>
  </body>

</html>
